[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pdbpp = "*"
ipython = "*"
mypy = "*"
pytest = "*"
black = "*"
autoflake = "*"
flake8 = "*"

[requires]
python_version = "3.10"
